body {
  padding-top: 50px;
}

.main-container {
  padding: 20px 15px;
}

.content {
  padding: 20px 15px;
}

.brand {
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
}

.navbar-nav {
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

pre {
  text-align: left;
  font-size: 16px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.panel-title {
  font-size: 22px;
  font-family: 'Share Tech', sans-serif;
}

.panel-body .props {
  font-size: 18px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.alert {
  text-align: left;
}